# Copyright 2016 Teppo Kurki <teppo.kurki@iki.fi>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
- name: Add InfluxDb APT key
  apt_key:
    url: https://repos.influxdata.com/influxdb.key
  become: true

- name: Add InfluxDb APT repository
  apt_repository:
    repo: "deb https://repos.influxdata.com/debian {{ ansible_distribution_release }} stable"
    update_cache: yes
  become: true

- name: Install InfluxDb
  apt: pkg=influxdb state=latest
  become: true

#1/10th or normal cache snaphot memory to ward off kernel killing influxdb
- name: Custom configuration for RPi
  lineinfile: dest=/etc/influxdb/influxdb.conf line="  cache-snapshot-memory-size = 2621440" insertafter="  \# cache-snapshot-memory-size.*"
  become: true
  when: ansible_lsb.id == "Raspbian"

- name: Reload systemd
  command: systemctl daemon-reload
  become: true

- name: Enable service and start it
  command: "{{item}}"
  with_items:
  - systemctl enable influxdb
  - systemctl start influxdb
  become: true
