[Unit]
Description=Pi Super UPS
After=syslog.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/local/bin/pi-super-ups --sense-pin {{ pi_super_ups_sense_pin }} --hold-time {{ pi_super_ups_hold_time }} --watchdog-pin {{ pi_super_up_watchdog_pin }}

[Install]
WantedBy=multi-user.target
