#jinja2: lstrip_blocks: "True"
[Unit]
Description={{ docker_app_name }}
After=docker.service
Wants=network-online.target docker.socket

[Service]
Restart=always
TimeoutStartSec=5min
SyslogIdentifier={{ docker_app_syslog_identifier }}
ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect {{ docker_app_name }} 2> /dev/null || \
                           /usr/bin/docker run \
                               -d \
                               --name {{ docker_app_name }} \
                               {% for env in docker_app_env %}
                               -e {{ env }} \
                               {% endfor %}
                               {% for port in docker_app_ports %}
                               -p {{ port }} \
                               {% endfor %}
                               {% if docker_app_extra_params %}
                               {{ docker_app_extra_params }} \
                               {% endif %}
                               {{ docker_app_container_name }}"
ExecStart=/usr/bin/docker start -a {{ docker_app_name }}
ExecStop=/usr/bin/docker stop {{ docker_app_name }}

[Install]
WantedBy=multi-user.target