#jinja2: lstrip_blocks: "True"
[Unit]
Description={{ docker_app_name }}
After=docker.service
Wants=network-online.target docker.socket

[Service]
Restart=always
TimeoutStartSec={{ docker_app_start_timeout }}
SyslogIdentifier={{ docker_app_syslog_identifier }}
RestartSec={{ docker_app_restart_delay }}
ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect {{ docker_app_name }} 2>/dev/null 1>&2 || \
                           /usr/bin/docker run \
                               -d \
                               -t \
                               --name {{ docker_app_name }} \
                               {% for env in docker_app_env %}
                               -e {{ env }} \
                               {% endfor %}
                               {% for port in docker_app_ports %}
                               -p {{ port }} \
                               {% endfor %}
                               {% if docker_app_extra_params %}
                               {{ docker_app_extra_params }} \
                               {% endif %}
                               {{ docker_app_container_name }}{% if docker_app_container_params %} {{ docker_app_container_params }}{% endif %}"
ExecStart=/usr/bin/docker start -a {{ docker_app_name }}
ExecStop=/usr/bin/docker stop {{ docker_app_name }}

[Install]
WantedBy=multi-user.target