version: "2.2"
services:
  signalk:
    image: "signalk/signalk-server:master"
    environment:
      EXTERNALHOST: {{ hostname }}
      EXTERNALPORT: 80
      NODE_ENV: production
    ports:
      - "80:3000"
      - "10110:10110"
      - "3858:3858"
      - "8887:8887/udp"
      - "8888:8888/udp"
      - "8889:8889/udp"
      - "9997:9997"
      - "9998:9998"
      - "9999:9999"
    network_mode: host
    volumes:
      - "/home/pi/.signalk:/home/node/.signalk"
      - "/home/pi/signalk-docker-data/logs:/signalk-log"
      - "/dev/serial:/dev/serial"
    restart: always
    privileged: true
    init: true
  influxdb:
    image: "arm32v7/influxdb:1.7"
    environment:
      INFLUXDB_DATA_CACHE_SNAPSHOT_MEMORY_SIZE: 2621440
    volumes:
      - "/home/pi/signalk-docker-data/influxdb:/var/lib/influxdb"
    ports:
      - "8086:8086"
    restart: always
    user: "1000"
  grafana:
    image: "grafana/grafana"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: {{ gf_security_admin_password }}
    ports:
      - "3001:3000"
    volumes:
      - "/home/pi/signalk-docker-data/grafana:/var/lib/grafana"
      - "/home/pi/signalk-docker-data/grafana/provisioning:/etc/grafana/provisioning/"
    restart: always
    user: "1000"